{{ $img := .Image}}

{{/*Resize img */}}
{{ with .ResizeWidth }}
    {{ $img = $img.Resize (printf "%sx q100" .) }}
{{ end }}
{{ with .ResizeHeight }}
    {{ $img = $img.Resize (printf "x%s q100" .) }}
{{ end }}

{{/* Convert image to webp */}}
{{ $webp := $img.Resize (printf "%dx%d webp photo q100" $img.Width $img.Height) }}

{{/* Create blurred placeholder */}}
{{ $placeholder := $img | images.Filter (images.GaussianBlur 10) }}
{{ $placeholder = $placeholder.Resize (printf "%dx%d webp photo q10" $img.Width $img.Height) }}


{{/* Fallback img */}}
<noscript>
    <img loading="{{ .Loading }}" 
        decoding="{{ .Decoding }}" 
        src="{{ $webp.RelPermalink }}" 
        alt="{{ .Text }}" 
        {{ with .Class }} class="{{ . }}"{{ end }}
        {{ with .Width }} width="{{ . }}" {{ end }}
        {{ with .Height }} height="{{ . }}" {{ end }}
    />
</noscript>

{{/* lazy loading with https://github.com/aFarkas/lazysizes */}}
<img src="{{ $placeholder.RelPermalink }}"
    data-src="{{ $webp.RelPermalink }}"
    alt="{{ .Text }}" 
    class="lazyload  {{ with .Class }} {{ . }}{{ end }}"
    {{ with .Width }} width="{{ . }}" {{ end }}
    {{ with .Height }} height="{{ . }}" {{ end }}
/>