<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ .Site.Title }} | {{ .Title }}</title>
  <meta name="description" content="{{ if .IsHome }}{{ .Content }}{{else}}{{ .Description }}{{ end }}">

  {{ $preview_image := .Resources.GetMatch "site_preview" }}
  {{if $preview_image }}
    <meta property="og:image" content="{{ $preview_image.Permalink }}" />
    <meta property="og:title" content="{{ $preview_image.Title }}" />  
  {{ else }}
    <meta property="og:image" content="{{ .Site.Params.profileImage | absURL }}" />
    <meta property="og:title" content="{{ .Site.Title }} | {{ .Title }}" />   
  {{ end }}
  <meta property="og:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{else}}{{ .Description }}{{ end }}" />
  <meta name="author" content="{{ .Site.Params.firstName }} {{ .Site.Params.lastName }}">


  {{ partial "bundle/css" 
     (dict "BundleName" "css/libs.css"
           "Bundle" (slice 
             "https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
             "https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900&display=swap"
             "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap"
           )
     )
  }}

  {{ partial "bundle/css" 
     (dict "BundleName" "css/main.css"
           "Bundle" (slice 
             "css/resume.css"
             "css/tweaks.css"
             "css/resume-override.css"
           )
     )
  }}

  <noscript>
    {{ partial "bundle/css" 
      (dict "BundleName" "css/noscript.css"
            "Bundle" (slice 
              "css/noscript.css"
            )
      )
    }}
  </noscript>

  {{ hugo.Generator }}
  {{ block "headfiles" . }}
   <!-- pl;aceholder -->
  {{ end }}
</head>
<body id="page-top">
  {{ partial "nav.html" . }}
  <div class="container-fluid p-0">
    {{ block "main" . }}
      {{ .Content }}
    {{ end }}

    {{ with $.GitInfo }}{{ with $.Site.Params.gitCommitPrefix }} | <span style="color: #999999; font-size: 60%;">Page content generated from commit: <a href="{{ . }}/{{ $.GitInfo.AbbreviatedHash }}" title="log: {{ $.GitInfo.Subject }}">{{ $.GitInfo.AbbreviatedHash }}</a>{{ end }}{{end}}
  </div>


  {{ partial "bundle/js" 
    (dict "BundleName" "js/libs.js"
          "Bundle" (slice 
            "https://code.jquery.com/jquery-3.6.0.min.js"
            "https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            "https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"
            
          )
          "loading" "async"
    )
  }}

  {{ partial "bundle/js" 
    (dict "BundleName" "js/global.js"
          "Bundle" (slice 
            "http://afarkas.github.io/lazysizes/lazysizes.min.js"
          )
    )
  }}

  {{ partial "bundle/js" 
    (dict "BundleName" "js/main.js"
          "Bundle" (slice 
            "js/resume.js"
          )
    )
  }}

  <script>
    window.dataLayer = window.dataLayer || [];
  </script>
  {{ block "footerfiles" . }}

  {{ end }}
</body>
</html>
