      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="mr-auto">

              <h1 class="mb-0">{{ .Site.Params.firstName }}
                <span class="text-primary">{{ .Site.Params.lastName }}</span>
              </h1>
              <div class="subheading mb-5">{{ .Site.Params.address }} ·
                <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>
              </div>

            </div>

            {{ if .Site.Params.showQr }}
              {{ partial "contact-qr" . }}
            {{ end }}

        </div>
        <div>
          {{ .Content }}
          <h3>Certifications</h3>
          <ul class="list-inline list-social-icons mb-0">
            {{ range .Site.Data.certifications }}
                <li class="list-inline-item">
                  <a href="{{ .proof }}" data-toggle="tooltip" title="{{ .name }}" data-offset="0 10" rel="me">
                    {{ partial "img/img" 
                      (dict 
                        "Page" .Page 
                        "ImgPath" .badge
                        "Text" .name
                        "ResizeWidth" "512"
                        "Width" "120px")
                    }}
                  </a>
                </li>
            {{ end }}
          </ul>
          <h3>Socialization</h3>
          <ul class="list-inline list-social-icons mb-0">
            {{ range .Site.Params.handles }}
                <li class="list-inline-item">
                  <a href="{{ .link }}" data-toggle="tooltip" title="{{ .name }}" aria-label="{{ .name }}" data-offset="0,10" rel="me">
                    {{ if .icon }}
                      {{ partial "fontawesome/icon" (dict "type" "brands" "icon" .icon "class" "fa-icon-rounded") }}
                    {{ else }}
                      {{ partial "fontawesome/icon" (dict "type" "brands" "icon" .name "class" "fa-icon-rounded") }}
                    {{ end }}
                  </a>
                </li>
            {{ end }}
                <li class="list-inline-item">
                  <a class="btn line-btn-dark btn-icon btn-radius" href="{{ .Site.Params.cvPdf }}" title="" download>
                    {{ partial "fontawesome/icon" (dict "type" "solid" "icon" "download" "class" "fa-icon-rounded") }}
                    <b>Download my CV</b>
                  </a>
                </li>
          </ul>
        </div>
      </div>
    </section>
