<div class="resume-item d-flex flex-row mb-5">
  <div class="publication-content mr-auto">
    <h3 class="mb-0"><a href="{{ .Permalink }}">{{ .Params.title }}</a></h3>
    <div>{{ .Params.description }}</div>
    <div>{{ partial "techtags" . }}</div>
  </div>
  <div class="resume-date text-md-right flex-col">
    <span class="text-primary">{{ .Date.Format "January 2, 2006" }}</span>
  </div>
</div>
