{{/* "https://chart.googleapis.com/chart?cht=qr&chs=150x150&chl=MECARD:N:{{ .Param "lastName" }},{{ .Param "firstName" }};{{ .Param "address" }};TEL:{{ .Param "phone" }};EMAIL:{{ .Param "email" }};URL:{{ .Site.BaseURL }};NOTE:{{ .Param "contactNote" }};;" */}}

{{ $qrcode_url := printf "%s" ";;" | printf "%s%s" (.Param "contactNote") | printf "%s%s" ";NOTE:" | printf "%s%s" .Site.BaseURL | printf "%s%s" ";URL:" | printf "%s%s" ($.Param "email") | printf "%s%s" ";EMAIL:" | printf "%s%s" ($.Param "phone") | printf "%s%s" ";TEL:"  | printf "%s%s" ($.Param "address") | printf "%s%s" ";" | printf "%s%s" ($.Param "firstName") | printf "%s%s"  ","  | printf "%s%s" ($.Param "lastName") | printf "%s%s" "https://chart.googleapis.com/chart?cht=qr&chs=150x150&chl=MECARD:N:" | printf "%s" | safeURL }}
{{ $qrcode_url = replace $qrcode_url " " "%20" }} {{/* Fix space in url */}}
{{ $qrcode_url = replace $qrcode_url "é" "%C3%A9" }} {{/* Fix "é" in url */}}
{{ $qrcode_url = replace $qrcode_url "è" "%C3%A8" }} {{/* Fix "è" in url */}}


<div class="p0 m0 text-center" >
  <p class="card-text">Scan contact card</p>
  {{ with resources.GetRemote (printf "%s" $qrcode_url) | resources.Copy "images/qrcode.png" }}
    {{ partial "img/_img" (dict "Image" . "Class" "card-img-top" "Text" "Scannable QR code with contact info") }}
  {{ end }}
</div>
      


