<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none">{{ .Site.Params.firstName }} {{ .Site.Params.lastName }}</span>
    <div class="d-none d-lg-block">
      {{ partial "img/img" 
          (dict 
              "Page" .Page 
              "ImgPath" .Site.Params.profileImage 
              "Text" "profile picture"
              "ResizeWidth" "1024"
              "Class" "img-fluid img-profile rounded-circle mx-auto mb-2") 
      }}
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{ "#about" | relURL }}">About</a>
      </li>
      {{ if .Site.Params.showSkills }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#skills">Skills</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showExperience }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#experience">Experience</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showEducation }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#education">Education</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showProjects }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#projects">Projects</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showOpenSource }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#open">Open Source</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showBlog }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#blog">Blog</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showPublications }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#{{ default "Publications" .Site.Params.publicationsAlternateName }}">{{ default "Publications" .Site.Params.publicationsAlternateName }}</a>
          </li>
      {{ end }}
    </ul>
  </div>
</nav>
