
<h3 class="mb-3"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
<div class="resume-item d-flex flex-column flex-md-row mb-3">

  <div class="resume-content" style="width:200px;">
    {{ partial "img/img" 
      (dict 
        "Page" .Page 
        "ImgPath" .Params.image
        "Text" .Params.title
        "ResizeWidth" "512"
        "Class" "img-portfolio")
    }}
  </div>
  <div class="resume-date">
    <p>{{ .Description | safeHTML }}<p>
    <p class><a href="{{.Permalink}}">Read more..</a></p>
  </div>
</div>
<div>{{ partial "techtags" . }}</div>
